<footer class="footer">
  <small>
    <a href="/"><%= site_title %></a>
    by <a href="http://www.kirstengausch.me">Kirsten Gausch</a> and <a href="http://www.brockallen.me">Brock Allen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>