/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$borderColor: rgba(0,0,0,0.15);
$mobilePageMargin: 20px;
$desktopPageMargin: 50px;
$navBackgroundColor: #fafafa;

/* universal */
a {
  text-decoration: none;
  color: #777;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  .container {
    text-align: center;
  }
}
/* header */

#logo {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}

ul {
  padding-left: 0;

  li:first-child {
    padding-left: 0px;
    margin-left: 0px;
  }
}

header {
  nav {
    width: 100%;
    border-bottom: 1px solid $borderColor;
    padding-bottom: 10px;
    margin-top: 10px;

    ul {

      li {
        padding-left: 15px;
        display: inline-block;
      }
    }

  .dropdown-menu {

  }

  .header-title {
    display: inline-block;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .header-links {
    display: inline-block;
    margin-top: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    ul {
      margin-top: 0;
    }
  }

  .header-sign-on {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    .user-thumb-image {
      cursor: pointer;
      border-radius: 8px;
      width: 35px;
    }
  }
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $borderColor;
  font-size: 12px;

  .footer-credits {
    display: inline-block;
  }

  ul {
    list-style: none;

    li {
      margin-left: 15px;
      display: inline-block;
    }
  }
}

/* layout */

.nav-right {
  float: right;
  width: auto;
  display: inline-block;
  position: relative;
}

.nav-left {
  float: left;
  width: auto;
  display: inline-block;
  position: relative;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* tablet (roughly) */
@media only screen and (max-width: 630px) {
  footer {
    .footer-links {
      float: none;
    }
    .footer-credits {

    }
  }
}

/* mobile phones */
@media only screen and (max-width: 430px) {
  .col-1 {width: 100%;}
  .col-2 {width: 100%;}
  .col-3 {width: 100%;}
  .col-4 {width: 100%;}
  .col-5 {width: 100%;}
  .col-6 {width: 100%;}
  .col-7 {width: 100%;}
  .col-8 {width: 100%;}
  .col-9 {width: 100%;}
  .col-10 {width: 100%;}
  .col-11 {width: 100%;}
  .col-12 {width: 100%;}

  .nav-right {
    float: none;
  }

  .header-title {
    width: 100%;
  }
  header {
    nav {
      border-bottom: none;
    }
  }

  .header-links {
    display: block;
    width: 100%;
    border-top: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;
    padding-top: 10px;
    background-color: $navBackgroundColor;
  }
}
